@model UserViewModel
@*This is the Index for the Searches*@
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your search for @Model.Search.Symbol</h1>

<h2>The score for this stock is @Model.Search.Score</h2>

@*Quite a bit of logic here I think. Maybe better to do in C# and just display here*@

@*Want to have also a place here where I link back to the search page. Or even a place to search again*@
<body>
    @for (int i = Model.Searches.Count() - 1; i >= Model.Searches.Count() - 6; i--)
        //Right now this will error out if there are fewer than 6 in the list of stocks
    {
        <table class="table">
            <tr>
                <td>
                    @Model.Searches[i].Symbol
                </td>
                <td>
                    @Model.Searches[i].Score
                </td>
                <td>
                    @Model.Searches[i].TimeFrame
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@Model.Searches[i].Id">Search this again</a>
                </td>
            </tr>
        </table>
    }

    <div>
        <a asp-controller="User_Stocks" asp-action="Create">Add more stocks to your portfolio</a>
    </div>
</body>
