@model UserViewModel
@*This is the Index for the Searches*@
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your search for @Model.Search.Symbol</h1>

@{
    switch (Model.PastMonthScores[0])
    {
        case 0:
            <img src="~/F.png" />
            break;
        case 1:
            <img src="~/D.png" />
            break;
        case 2:
            <img src="~/C.png" />
            break;
        case 3:
            <img src="~/B.png" />
            break;
        case 4:
            <img src="~/A.png" />
            break;
    }
}

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Week', 'Value'],
            ['4 Weeks Ago',  @Model.PastMonthScores[1]],
            ['3 Weeks Ago',  @Model.PastMonthScores[2]],
            ['2 Weeks Ago',  @Model.PastMonthScores[3]],
            ['1 Week Ago',  @Model.PastMonthScores[4]],
            ['Today',  @Model.PastMonthScores[0]]
        ]);


        var options = {
            title: 'Stock Scores for the Past Month',
            legend: { position: 'bottom' }
    };

    var chart = new google.visualization.LineChart(document.getElementById('PerformanceChart'));

    chart.draw(data, options);
    }
    </script>

</head>

<body>
    <table class="table">
        <h2>Your Previous Searches</h2>
        <thead>
        <th>
            Symbol
        </th>
        <th>
            Score
        </th>
        <th>
            Time Frame
        </th>
        </thead>
        @foreach (var item in Model.Searches)
        {
            <tr>
                <td>
                    @item.Symbol
                </td>
                <td>
                    @item.Score
                </td>
                <td>
                    @item.TimeFrame
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.Id">Search this again</a>
                </td>
            </tr>
        }
    </table>

    <div>
        <a asp-controller="User_Stocks" asp-action="Create">Add more stocks to your portfolio</a>
    </div>

    <div id="PerformanceChart" style="width: 1100px; height: 500px"></div>

</body>
