@model StockScore.Models.Top_Stocks

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Top_Stocks</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numberOne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numberOne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numberTwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numberTwo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numberThree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numberThree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numberFour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numberFour)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
