@model UserViewModel
@*This is the Index for the User*@
@{
    ViewData["Title"] = "Index";
}
<center>
    <h1>Hello, @Model.User.FirstName!</h1>
</center>

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Week', 'Value'],
                    ['5 Weeks Ago',  @Model.Stocks[0].Scores[0]],
                    ['4 Weeks Ago',  @Model.Stocks[0].Scores[1]],
                    ['3 Weeks Ago',  @Model.Stocks[0].Scores[2]],
                    ['2 Weeks Ago',  @Model.Stocks[0].Scores[3]],
                    ['1 Week Ago',  @Model.Stocks[0].Scores[4]],
                    ['Today',  @Model.Stocks[0].Scores[5]]
                ]);


                var options = {
                    title: 'Portfolio Performance',
                    curveType: 'function',
                    legend: { position: 'bottom' }
                };

                var chart = new google.visualization.LineChart(document.getElementById('PerformanceChart'));

                chart.draw(data, options);
            }
                
    </script>

</head>
<body>
    <center>
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label style="padding-top: 5px; padding-bottom: 5px; font-size: x-large; color: darkred" asp-for="Search.Symbol">Please enter a stock Symbol you'd like a score for</label>
                <input style="padding-top: 5px; padding-bottom: 5px" asp-for="Search.Symbol" class="form-control" />
            </div>
            <div>
                <label style="padding-top: 5px; padding-bottom: 5px; font-size: x-large; color: darkblue" asp-for="Search.TimeFrame">Please enter the time frame you're looking to invest for. Day, Week, or Year</label>
                <input style="padding-top: 5px; padding-bottom: 10px" asp-for="Search.TimeFrame" class="form-control" />
            </div>
            <div style="padding-bottom: 15px">
                <label>Save this as a favorite search?</label>
                @Html.CheckBoxFor(x => x.Search.IsFavorite)
            </div>
            <div>
                <button style="padding-bottom: inherit" type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>

        <div id="PerformanceChart" style="width: 1100px; height: 500px"></div>
        @*Some kind of onClick event would be good here that would list all the stocks in the portfolio*@

    </center>

    <table class="table">
        <h2>Your Favorite Searches</h2>
        <thead>
        <th>
            Symbol
        </th>
        <th>
            Value When Searched
        </th>
        <th>
            Time Frame
        </th>
        </thead>
        @foreach (var item in Model.Searches)
        {
            <tr>
                <td>
                    @item.Symbol
                </td>
                <td>
                    @item.Score
                </td>
                <td>
                    @item.TimeFrame
                </td>
                <td>
                    <a asp-controller="Searches" asp-action="Index" asp-route-id="@item.Id">Search this again</a>
                </td>
            </tr>
        }
    </table>

    <div style="padding-top: 20px; padding-bottom: 20px">
        <a asp-controller="User_Stocks" asp-action="Create">Add more stocks to your portfolio</a>
    </div>


    <table class="table">
        <h3>
            Our Top Recommendations:
        </h3>
        <tr>
            <td href="">
                <a asp-controller="Searches" asp-action="Index" asp-route-stockSymbol="@Model.top_Stocks.NumberOne">@Model.top_Stocks.NumberOne</a>
                @*Find a way to make these clickable as searches*@
            </td>
            <td>
                <a asp-controller="Searches" asp-action="Index" asp-route-stockSymbol="@Model.top_Stocks.NumberTwo">@Model.top_Stocks.NumberTwo</a>
            </td>
            <td>
                <a asp-controller="Searches" asp-action="Index" asp-route-stockSymbol="@Model.top_Stocks.NumberThree">@Model.top_Stocks.NumberThree</a>
            </td>
            <td>
                <a asp-controller="Searches" asp-action="Index" asp-route-stockSymbol="@Model.top_Stocks.NumberFour">@Model.top_Stocks.NumberFour</a>
            </td>
            <td>
                @*Something to search for this stock*@
                @*Something that will show the stock's open value for today?*@
            </td>
        </tr>
    </table>

</body>