@model UserViewModel
@*This is the Index for the User*@
@{
    ViewData["Title"] = "Index";
}
<center>
    <h2>Hello, @Model.User.FirstName!</h2>
</center>

<head>

</head>
<body>
    <center>
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label style="padding-top: inherit; padding-bottom: inherit" asp-for="Search.Symbol">Please enter a stock Symbol you'd like a score for</label>
                <input style="padding-top: inherit; padding-bottom: inherit" asp-for="Search.Symbol" class="form-control" />
            </div>
            <div>
                <label style="padding-top: inherit; padding-bottom: inherit" asp-for="Search.TimeFrame">Please enter the time frame you're looking to invest for. Day, Month, or Year</label>
                <input style="padding-top: inherit; padding-bottom: inherit" asp-for="Search.TimeFrame" class="form-control" />
            </div>
            <div>
                <button style="padding-top: inherit; padding-bottom: inherit" type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </center>

    <table class="table">
        <h3>
            Your Stocks:
        </h3>
        @foreach (var item in Model.Stocks)
        {
            <tr>
                <td>
                    @item.StockSymbol
                </td>
                <td>
                    @item.PurchaseDate
                </td>
                @*something with the stock's current value here?*@
            </tr>
        }
    </table>

    <table class="table">
        <h3>
            Our Top Recommendations:
        </h3>
        <tr>
            <td>
                @Model.top_Stocks.NumberOne
            </td>
            <td>
                @Model.top_Stocks.NumberTwo
            </td>
            <td>
                @Model.top_Stocks.NumberThree
            </td>
            <td>
                @Model.top_Stocks.NumberFour
            </td>
            <td>
                @*Something to search for this stock*@
            </td>
        </tr>
        }
    </table>
</body>